<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Reports Dashboard</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />


  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="/">E-Survey</a></h1>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="/admin_home">Admin Home</a></li>
            <li>
              <a href="/admin_logout"
                ><button class="btn btn-sm btn-danger">Logout</button></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-6
              d-flex
              flex-column
              justify-content-center
              pt-4 pt-lg-0
              order-2 order-lg-1
            "
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <center>
              <h1>List of all the</h1>
              <h1 style="color: lightsalmon"><strong>Queries</strong></h1>
            </center>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>List of Pending Queries</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <h5>Search Query by Subject</h5>
            <input
              type="text"
              alt="Search"
              id="q_subject"
              class="form-control"
              name="search"
              placeholder="Enter Query details..."
            />
          </div>
          <div class="col-6">
            <h5>Filter Query by Label</h5>
            <select
              class="form-control"
              id="q_label"
              name="label"
              onchange="filterByLabel()"
            >
              <option selected value="None">Select a label</option>
              <option value="Financial issue">Financial issue</option>
              <option value="Examination">Examination</option>
              <option value="Stress and Depression">
                Stress and Depression
              </option>
              <option value="Bullying or Mis-behaviour">
                Bullying or Mis-behaviour
              </option>
              <option value="College necessities">College necessities</option>
              <option value="Entrepreneurship">Entrepreneurship</option>
              <option value="Distractions">Distractions</option>
              <option value="Career guidance">Career guidance</option>
              <option value="Placements">Placements</option>
              <option value="Mess Food">Mess Food</option>
              <option value="Syllabus">Syllabus</option>
              <option value="Hardware Support">Hardware Support</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <br /><br />
        <div class="row content">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col">SNo</th> -->
                <th scope="col">Label</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Subject</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="query_list">
              <% for(var i=0; i < data.length ; i++ ) { %>
              <tr>
                <!-- <th scope="row"><%= i+1 %></th> -->
                <!-- <td><a href="visitor_data?id=<%= data[i].gmailID %>"><%= data[i].firstname %> <%= data[i].lastname %></a></td> -->
                <th scope="row"><%= data[i].label %></th>
                <td>
                  <%= new Date(data[i].date).toLocaleString("en-IN", {day:
                  '2-digit',month: '2-digit', year: 'numeric',hour: '2-digit',
                  minute:'2-digit'})%>
                </td>
                <td><%= data[i].subject %></td>
                <td><a href="/query?id=<%= data[i].id%>">Open</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <br />
      </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-newsletter">
        <div class="container">
          <div style="margin-left: 6vw;"  class="row justify-content-center">
            <!-- CHARTS  -->
            <h2 id="msg" style="visibility: hidden;">No Pending Queries</h2>
            <div class="col-lg-10" id="pie">

            </div>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Team MAIT</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Project By <a href="#">TEAM CSEIP19</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
 
     <!-- Plotly.JS CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>
      const q_subject = document.getElementById("q_subject");
      const query_list_table_body = document.getElementById("query_list");

      q_subject.addEventListener("keyup", () => {
        var filter, table, tr, td, i, txtValue;
        var q_label = document.getElementById("q_label").value;

        if (q_label !== "None") {
          filter = q_subject.value.toUpperCase();
          filter_2 = q_label.toUpperCase();
          tr = query_list_table_body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            temp_query = tr[i].getElementsByTagName("td")[1];

            if (temp_query) {
              txtValue = temp_query.textContent || temp_query.innerText;
              temp_query_2 = tr[i].getElementsByTagName("th")[0];
              txtValue_2 = temp_query_2.textContent || temp_query_2.innerText;

              if (
                txtValue.toUpperCase().indexOf(filter) > -1 &&
                txtValue_2.toUpperCase().indexOf(filter_2) > -1
              ) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        } else {
          filter = q_subject.value.toUpperCase();
          tr = query_list_table_body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            temp_query = tr[i].getElementsByTagName("td")[1];

            if (temp_query) {
              txtValue = temp_query.textContent || temp_query.innerText;

              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      });

      function filterByLabel() {
        var q_label = document.getElementById("q_label").value;

        if (q_label !== "None") {
          var filter, table, tr, td, i, txtValue;
          filter = q_label.toUpperCase();
          filter_2 = q_subject.value.toUpperCase();
          tr = query_list_table_body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            temp_query = tr[i].getElementsByTagName("th")[0];
            temp_query_2 = tr[i].getElementsByTagName("td")[1];
            if (temp_query) {
              txtValue = temp_query.textContent || temp_query.innerText;
              txtValue_2 = temp_query_2.textContent || temp_query_2.innerText;

              if (
                txtValue.toUpperCase().indexOf(filter) > -1 &&
                txtValue_2.toUpperCase().indexOf(filter_2) > -1
              ) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        } else {
          filter = q_subject.value.toUpperCase();
          tr = query_list_table_body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            temp_query = tr[i].getElementsByTagName("td")[1];

            if (temp_query) {
              txtValue = temp_query.textContent || temp_query.innerText;

              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      }
    </script>
     <% let query = data; %>
     
    <script>let curr = {}; let ans = {};</script>

   <% for(var i=0; i < query.length ; i++ ) { %>

    <script>
       curr = ("<%= query[i].label %>")
      if(curr in  ans) {
        ans[curr] += 1
      } else {
        ans[curr] = 1;
      }

    </script>
      
   <% } %>

    <script>
      if(ans !== null) {

          let keys = []
          let values = []
          for (const key of Object.keys(ans)) {
              keys.push(key)
            }
          for (const value of Object.values(ans)) {
                values.push(value)
            }

        var data = [{
            values,
            labels: keys,
            domain: {column: 0},
            name: 'Queries',
            hoverinfo: 'label+percent+name',
            hole: .5,
            type: 'pie'
          }];

            var layout = {
              title: `Pending Queries ${new Date().getFullYear()}`,
              annotations: [
                {
                  font: {
                    size: 20
                  },
                  showarrow: false,
                  text: 'Queries',
                  x: 0.50,
                  y: 0.5
                },
              ],
              height: 400,
              width: 600,
              showlegend: true,
              grid: {rows: 1, columns: 1}
            };
            Plotly.newPlot('pie', data, layout, {displayModeBar: false});
          } else {
             document.getElementById('msg').style.visibility="visible";
          }
    </script>
  </body>
</html>
