<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Reports Dashboard</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
      table,
      th,
      td {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">E-Survey</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li><a href="/guest_home">Home</a></li>
            <li><a href="/guest_profile">My Profile</a></li>
            <li><a href="/guest_search">Search Colleges</a></li>
            <li><a href="/compare_colleges">Compare Colleges</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
        <form action="/guest_logout" method="POST" style="margin-left: 1%">
          <button class="btn btn-sm btn-danger" type="submit">Logout</button>
        </form>
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section id="hero" class="d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div
              class="
                col-lg-6
                d-flex
                flex-column
                justify-content-center
                pt-4 pt-lg-0
                order-2 order-lg-1
              "
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h1>Comparison Result</h1>
              <h2>
                <%= data.collegeData1.CollegeName %> vs <%=
                data.collegeData2.CollegeName %>
              </h2>
            </div>
            <div
              class="col-lg-6 order-1 order-lg-2 hero-img"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <img
                src="assets/img/hero-img.png"
                class="img-fluid animated"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>

      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>
              <%= data.collegeData1.CollegeName %> vs <%=
              data.collegeData2.CollegeName %>
            </h2>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"><h3>Paramter</h3></th>
                  <th scope="col">
                    <h3><%= data.collegeData1.CollegeName %></h3>
                  </th>
                  <th scope="col">
                    <h3><%= data.collegeData2.CollegeName %></h3>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td align="center" colspan="3">
                    <h3>Based on General Data</h3>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Type</th>
                  <td><%= data.collegeData1.type %></td>
                  <td><%= data.collegeData2.type %></td>
                </tr>
                <tr>
                  <th scope="row">Affiliations</th>

                  <% if(data.collegeData1.Affiliations.length > 0) { %>
                  <td><%= data.collegeData1.Affiliations %></td>
                  <% } %> <% if(data.collegeData2.Affiliations.length > 0) { %>
                  <td><%= data.collegeData2.Affiliations %></td>
                  <% } %> <% if(data.collegeData1.Affiliations.length === 0) {
                  %>
                  <td>-</td>
                  <% } %> <% if(data.collegeData2.Affiliations.length === 0) {
                  %>
                  <td>-</td>
                  <% } %>
                </tr>
                <tr>
                  <th scope="row">Location</th>
                  <td><%= data.collegeData1.address %></td>
                  <td><%= data.collegeData2.address %></td>
                </tr>
                <tr>
                  <th scope="row">Total No. of Surveys</th>
                  <td><%= data.collegeData1.totalSurveys %></td>
                  <td><%= data.collegeData2.totalSurveys %></td>
                </tr>
                <tr>
                  <td align="center" colspan="3">
                    <h3>Based on Average Rating</h3>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Teaching And Learning Process</th>
                  <% if( data.collegeData1.avg_rating[0] >
                  data.collegeData2.avg_rating[0] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.avg_rating[0] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.avg_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.avg_rating[0] <
                  data.collegeData2.avg_rating[0] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.avg_rating[0] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.avg_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.avg_rating[0] ===
                  data.collegeData2.avg_rating[0] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.avg_rating[0] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.avg_rating[0] %>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <th scope="row">College Environment</th>
                  <% if( data.collegeData1.avg_rating[1] >
                  data.collegeData2.avg_rating[1] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.avg_rating[1] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.avg_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.avg_rating[1] <
                  data.collegeData2.avg_rating[1] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.avg_rating[1] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.avg_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.avg_rating[1] ===
                  data.collegeData2.avg_rating[1] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.avg_rating[1] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.avg_rating[1] %>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <td align="center" colspan="3">
                    <h3>Based on Minimum Rating</h3>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Teaching And Learning Process</th>
                  <% if( data.collegeData1.min_rating[0] >
                  data.collegeData2.min_rating[0] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.min_rating[0] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.min_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.min_rating[0] <
                  data.collegeData2.min_rating[0] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.min_rating[0] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.min_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.min_rating[0] ===
                  data.collegeData2.min_rating[0] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.min_rating[0] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.min_rating[0] %>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <th scope="row">College Environment</th>
                  <% if( data.collegeData1.min_rating[1] >
                  data.collegeData2.min_rating[1] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.min_rating[1] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.min_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.min_rating[1] <
                  data.collegeData2.min_rating[1] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.min_rating[1] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.min_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.min_rating[1] ===
                  data.collegeData2.min_rating[1] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.min_rating[1] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.min_rating[1] %>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <td align="center" colspan="3">
                    <h3>Based on Maximum Rating</h3>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Teaching And Learning Process</th>
                  <% if( data.collegeData1.max_rating[0] >
                  data.collegeData2.max_rating[0] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.max_rating[0] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.max_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.max_rating[0] <
                  data.collegeData2.max_rating[0] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.max_rating[0] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.max_rating[0] %>
                  </td>
                  <% } %> <% if( data.collegeData1.max_rating[0] ===
                  data.collegeData2.max_rating[0] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.max_rating[0] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.max_rating[0] %>
                  </td>
                  <% } %>
                </tr>
                <tr>
                  <th scope="row">College Environment</th>
                  <% if( data.collegeData1.max_rating[1] >
                  data.collegeData2.max_rating[1] ) { %>
                  <td style="color: green">
                    <%= data.collegeData1.max_rating[1] %>
                  </td>
                  <td style="color: red">
                    <%= data.collegeData2.max_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.max_rating[1] <
                  data.collegeData2.max_rating[1] ) { %>
                  <td style="color: red">
                    <%= data.collegeData1.max_rating[1] %>
                  </td>
                  <td style="color: green">
                    <%= data.collegeData2.max_rating[1] %>
                  </td>
                  <% } %> <% if( data.collegeData1.max_rating[1] ===
                  data.collegeData2.max_rating[1] ) { %>
                  <td style="color: yellow">
                    <%= data.collegeData1.max_rating[1] %>
                  </td>
                  <td style="color: yellow">
                    <%= data.collegeData2.max_rating[1] %>
                  </td>
                  <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Team MAIT</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Project By <a href="#">TEAM CSEIP19</a></div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
