<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Reports Dashboard</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <style> 
      td,th { text-align: center; }
    </style>
    <script>
      window.ChatraSetup = {
        colors: {
          buttonText: "#f0f0f0" /* chat button text color */,
          buttonBg: "#37517E" /* chat button background color */,
        },
      };
    </script>
    <% let KEY = key; %>
    <script>
      (function (d, w, c) {
        w.ChatraID = "<%= process.env.CHATRA_KEY %>";
        var s = d.createElement("script");
        w[c] =
          w[c] ||
          function () {
            (w[c].q = w[c].q || []).push(arguments);
          };
        s.async = true;
        s.src = "https://call.chatra.io/chatra.js";
        if (d.head) d.head.appendChild(s);
      })(document, window, "Chatra");
    </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">E-Survey</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul class="dropdown show">
            <li><a href="/guest_home">Home</a></li>
            <li><a href="/guest_profile">My Profile</a></li>
            <li><a href="/guest_search">Search Colleges</a></li>
            <li><a href="/compare_colleges">Compare Colleges</a></li>
            <li class="drop-down">
              <a href="#">Queries</a>
              <ul>
                <!-- <li><a href="/visitor_signUp">As Visitor</a></li> -->
                <!-- <li><a href="#">As College Admin</a></li> -->
                <li><a href="/show_request">Pending</a></li>
                <li><a href="/show_request">Resolved</a></li>
                <li><a href="/submit_request">Submit (Anonymously)</a></li>
              </ul>
            </li>
            
            <!-- <li><a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a style="color:black" class="dropdown-item" href="/submit_request">Submit Request</a>
                <a style="color:black" class="dropdown-item" href="/submit_request_anon">Submit Request (Anonymously)</a>
                 <a style="color:black" class="dropdown-item" href="#">Something else here</a> -->
              <!-- </div> -->
            <!-- </li> --> 
            <!-- <li><a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a></li>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </ul>
        </nav>
        <!-- .nav-menu -->
        <form action="/guest_logout" method="POST" style="margin-left: 1%">
          <button class="btn btn-sm  btn-danger" type="submit">Logout</button>
        </form>
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>
              Welcome <b style="color: lightsalmon"><%= useremail %></b> to
              Digital College Surveys
            </h1>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Cliens Section ======= -->
      <section id="cliens" class="cliens section-bg">
        <div class="container">
          <div class="row" data-aos="zoom-in">
            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="assets/img/clients/ComingSoon.png"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <!-- End Cliens Section -->

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>List of Colleges</h2>
          </div>

          <div class="row content">
            <h5>Enter the College Name </h5>
            <input type="text" alt="Search" id="search" class="form-control" name="search" placeholder="Search your college" />
            <br><br>
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">SNo.</th>
                  <th scope="col">College ID</th> 
                  <th scope="col">Name of College</th>
                  <th scope="col">College Type</th>
                </tr>
              </thead>
              <tbody id="filter_body">
                <% for(var i=0; i < data.length ; i++ ) { %>
                    <tr>
                      
                        <th scope="row"><%= i+1 %></th>
                        <td><%= data[i].C_id %></td>
                        <td><a href="/college_Profile?id=<%= data[i].id%>"><%= data[i].CollegeName %></a></td>
                        <td><%= data[i].type %></td>
               
                    </tr>
                <% } %>
              </tbody>  
            </table>
          </div>
        </div>
      </section>
    
    </main>

     <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Team MAIT</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: #license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: #arsha-free-bootstrap-html-template-corporate/ -->
          Project By <a href="#">TEAM CSEIP19</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

      
  

    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/venobox/venobox.min.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    
    <% var ans = data; %>

    <script>let arr = []; let small = "";</script>
    <% for(var i=0; i < data.length ; i++ ) { %>
      <script>small = "<%= ans[i].collegeName %>"; 
      arr.push(small);
      </script>
        
    <% } %>

    <script>

      const search = document.getElementById('search')
      const filter_body = document.getElementById('filter_body')
      
      search.addEventListener('keyup',() => {

          var  filter, table, tr, td, i, txtValue;
          filter = search.value.toUpperCase();
          tr = filter_body.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
      });
      </script>
  </body>
</html>
